window#waybar {
    background-color: transparent;
    color: #c49de3;
    font-family: "CaskaydiaCove NF", monospace;
    font-size: 18px;
    font-weight: bold;
}

/* General styling */

#workspaces, #clock, #battery, #language, #cpu, #memory, #disk, #backlight, #wireplumber, #network, #custom-playerctl, #custom-hyprpicker, #custom-randwall, #tray, #bluetooth {
    background-color: #0a0a21;
    box-shadow: 0 0 3px #0a0a21;
    border-radius: 12px;
    padding: 0 10px 0 10px;
    margin: 4px 0 4px 0;
}

/* Positioning, shaping */

#wireplumber, #cpu, #language, #custom-playerctl {
    margin-left: 10px;
    margin-right: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#memory, #custom-hyprpicker {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 0;
}

#backlight, #battery, #clock, #custom-randwall {
    margin-right: 10px;
    margin-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#network {
    color: #9d88e3;
    margin-left: 2px;
    margin-right: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#bluetooth {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#tray {
    margin-left: 10px;
}

/* Colors */

#workspaces button {
    padding: 0px 6px;
    border-radius: 8px;
    color: #c49de3;
    margin: 2px 0 2px 0;
}

#wireplumber, #backlight {
    color: #db736b;
}

#cpu, #memory, #battery {
    color: #f76aa9;
}

#language, #clock {
    color: #fe7df3;
}

#tray menu {
    background-color: #0a0a21;
    color: #c49de3;
    font-size: 15px;
    border-radius: 4px;
}

/* States */

#workspaces {
	margin-left: 8px;
}

#workspaces button.active {
    color: #0a0a21;
    background-color: #e91b51;
}

#workspaces button:hover {
    background-color: #c49de3;
    color: #0a0a21;
}

#battery.charging {
    color: #889fe3;
}

#battery.warning:not(.charging) {
    color: #fa1955;
}

#wireplumber.muted {
    color: #a0a0a0;
}

/* Indents & Sizes correction */

#workspaces {
    padding: 0 5px 0 5px;
}

#clock {
    margin-right: 8px;
}

#battery {
    padding-right: 20px;
}

#network {
    padding-right: 12px;
}

#custom-randwall {
    padding-right: 12px;
}

#custom-playerctl {
    padding-left: 12px;
}
